body{
    background-color: powderblue;
}
header{
    text-align: center;
   font-size: 50px;
}
#Login{
    color: white;
    font-size:30px;
    text-align: center;
    line-height: 10px;
}
#Buttons{
    font-size: 20px;
    text-align: center;
}

#Register{
    font-size: 20px;
    text-align: center;
    display:block;
    margin: 0 auto;
}
#Hoopla{
    display:block;
    margin: 0 auto;
}
#Creation{
    font-size: 30px;
}
#Done{
    font-size: 100px;
}

#Add_Item{
    position: relative;
    top: 5em;
    display: none;
    max-width: 350px;
    min-width: 250px;
    margin-bottom: 50px;
    margin: auto;
    padding: 10px;
    background-color: honeydew;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    flex-direction: column;
}

#item_list{
    text-align: center;
}
